* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	// @ref: http://stackoverflow.com/a/10133679
	// -webkit-backface-visibility: hidden;
	// 	backface-visibility: hidden;
	outline: none;
}

html, body {
	font-size: 17px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: $regular-font;
	font-size: $default-font-size;
	background: #FFF;
}


p {
	margin: 0;
	padding: 0;
}



#application {
	position: relative;
	height: 100%;
	width: 100%;
	background: #FFF;
}
	#application > .page {
		position: absolute;
		top: 44px;
		right: 0;
		bottom: 0;
		left: 0;
		color: #000;
		background: #FFF;

		&.swipe-back{
			// box-shadow:-4px 0px 20px 0px rgba(0, 0, 0, 0.3);
		}
	}

	#application > .page.deactivate {
	}
	#application > .page.deactivate.disableDeactivate {
	}

.ios #application > .page{
	top: 44px + $ios-status-bar-height;
}


.section-divider{
	background-color: #ddd;
    height: 1px;
    width: 100%;
    display: block;
}

.navigation-view{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 44px;
	box-sizing: border-box;
	background: #FFF;

    .navigation-bar{
    	position: absolute;
		top: 0;
		left: 0;
		right: 0;
    	box-sizing: border-box;
    }
    .title-navigation-bar{
    	text-align: center;
    	height: 44px;
    	line-height: 44px;
    	text-transform: uppercase;
    }
    .ios-navigation-bar{
    	height: 44px;
    	line-height: 44px;

		&.logo-bar{
			font-size: 54px;
			.center-side{
				height: 44px;
				overflow: hidden;
			}
			i:before{
				vertical-align: middle;
			}
		}

    }
}

.ios .navigation-view{
	top: 0px + $ios-status-bar-height;
}

.view.footer-demo-app{
	position: absolute;;
	bottom: 0;
	left: 0;
	right: 0;

	height: $footer-demo-app-height;
	background: $background-color;

	.footer-demo-app-content{
		@extend %fullscreen;
		height: 44px;
		text-align: center;
		font-family: $light-font;
		font-size: 11px;
		color: #656565;
		margin: auto 20px;
	}
}
