
.button {
	position: relative;
	display: inline-block;
	font-family: $condensed-font;
	text-align: center;
	// font-size: 18px;
	font-size: 16px;
	background-color: white;
	color: $text-soft-color;
	padding: 11px 20px;
	font-weight: 400;
	min-width: 44px;
	line-height: normal;
	margin: 0;
	border-radius: 2px;
	border-width: 0;
	i {
		position: relative;
		font-size: 23px;
		vertical-align: middle;
		.plus {
			position: absolute;
			top: -2px;
			left: 25px;
			width: 10px;
			height: 10px;
			font-size: 16px;
			line-height: 10px;
			font-family: $thin-font;
			font-style: normal;
		}
	}

	@include respond-to(mediumPhone) {
		font-size: 14px;
	}

}

.button.active-state {
	// color: $text-hard-color;

}

.button.suggest {
	@extend .button;
	font-family: $condensed-font;
	background-color: $primary-color;
	color: #FFF;
	text-transform: uppercase;
	// -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
	//         box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
	i {
		font-size: 23px;
		padding-right: 10px;
	}
	&.active-state {
		// color: #FA5400;
	    background: $primary-color-active;
		.plus {
			color: $text-hard-color;
		}
	}
}
