@charset "UTF-8";

@font-face {
  font-family: "demo-app";
  src:url("fonts/demo-app.eot");
  src:url("fonts/demo-app.eot?#iefix") format("embedded-opentype"),
    url("fonts/demo-app.woff") format("woff"),
    url("fonts/demo-app.ttf") format("truetype"),
    url("fonts/demo-app.svg#demo-app") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "demo-app" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "demo-app" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\61";
}
.icon-star-half:before {
  content: "\62";
}
.icon-star-empty:before {
  content: "\63";
}
.icon-menu:before {
  content: "\64";
}
.icon-arrow-left:before {
  content: "\65";
}
.icon-arrow-right:before {
  content: "\66";
}
.icon-arrow-top:before {
  content: "\67";
}
.icon-arrow-bottom:before {
  content: "\68";
}
.icon-check:before {
  content: "\69";
}
.icon-cross:before {
  content: "\6a";
}
.icon-nike-logo:before {
  content: "\6b";
}
