

// Colors
$primary-color: #FA5400;
$primary-color-active: #7A2900;
$background-color: #191919;


$text-color: #333;
$text-soft-color: #8D8D8D;
$text-hard-color: #666666;
$text-negate-color: #FFF;



// Fonts
$thin-font: 'robotothin';
$light-font: 'robotolight';
$regular-font: 'robotoregular';
$italic-font: 'robotoitalic';
$medium-font: 'robotomedium';
$bold-font: 'robotobold';
$condensed-font: 'robotocondensedregular';
$condensed-bold-font: 'robotocondensedbold';
$slab-font: 'robotoslabregular';
$slab-light-font: 'robotoslablight';

$strong-regular-font: 'bebasneueregular';

$icon-font: 'demo-app';


$default-font-size: 14px;
$title-font-size: 23px;

$ios-status-bar-height: 20px;
$footer-demo-app-height: 150px;
